@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	margin: auto;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
	background-color: #0e0e0e;
}

/* CSS for header */
header {
	background: linear-gradient(to bottom, #ffffff, #e3f2ff);
	clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%);
}

/* CSS for nav bar */
.navbar {
	display: flex;
	flex-direction: row;
	padding: 20px 240px;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
}

.nav-list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	column-gap: 45px;
	color: #000000;
}

.btn-start {
	color: #7a3bd3;
	background-color: transparent;
	border-radius: 30px;
	border: 2px solid #7a3bd3;
	padding: 10px 25px;
	font-size: 14px;
	font-weight: 600;
}

/* CSS for hero section */
.hero-section {
	/* position: relative; */
	padding: 120px 240px 150px 240px;
	display: flex;
	flex-direction: row;
}

.version {
	width: 18vw;
	color: #7a3ad4;
	padding: 10px 20px;
	background-color: #f7f1ff;
	border-radius: 20px;
	font-weight: 700;
}

.version a {
	color: #7a3ad4;
}

.heading {
	font-size: 50px;
	font-weight: 700;
}

#head-para {
	color: #959494;
	font-size: 15.5px;
	font-weight: 400;
	padding: 30px 0 50px 0;
	width: 30vw;
	line-height: 30px;
}

.get-started {
	color: #eef6ff;
	background-color: #f4694c;
	padding: 15px 35px;
	font-size: 18px;
	font-weight: 600;
}

.learn-more {
	color: #eef6ff;
	background: transparent;
	border: 1px solid #fff;
	padding: 15px 35px;
	font-size: 18px;
	font-weight: 500;
	margin-left: 30px;
}

.play-btn img {
	position: absolute;
	top: 250px;
	right: 410px;
}

.play-text {
	display: flex;
	position: absolute;
	top: 520px;
	right: 200px;
	font-size: 25px;
	margin-left: 60px;
}

.play-text img {
	margin-right: 10px;
	margin-left: 10px;
}

.play-text img[alt="dash"] {
	margin-bottom: 60px;
}

.play-text img[alt="arrow"] {
	margin-top: 80px;
	margin-left: 50px;
}
